$primary: #4285f4;
$off: rgba(80, 80, 80, 0.5);

.btn {
  user-select: none;
  margin: 1.5rem;
  padding: 1rem;

  width: 10rem;
  height: 4rem;
  border-radius: 0.5rem;

  font-size: 1.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;

  &:active {
    opacity: 0.8;
  }
}

// button on state
.on {
  color: whitesmoke;
  background-color: $primary;
}

// button off state
.off {
  color: whitesmoke;
  background-color: $off;
}
