.modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  transition: all 0.3s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);

  .container {
    width: 100%;
    height: 100%;
    color: whitesmoke;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .title {
      position: absolute;
      z-index: 1;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      h2 {
        margin-top: 0.5rem;
        font-size: 1.75rem;
        margin-bottom: 0;
      }

      h5 {
        margin-top: 0;
        font-size: 1.25rem;
        font-weight: 500;
        color: lightslategrey;
      }
    }

    .header {
      z-index: 10;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: flex;
      justify-content: flex-end;

      .close {
        width: 3rem;
        height: 3rem;
        background-color: red;
        border-radius: 50%;
        margin-top: 1rem;
        margin-right: 1rem;
        img {
          max-width: 100%;
          height: auto;
        }
      }
    }

    .content {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .footer {
      height: 3rem;
      font-size: 1.25rem;
      color: lightslategrey;

      img {
        padding-left: 0.5rem;
        max-width: 100%;
        height: inherit;
      }
    }
  }
}

.active {
  transform: translateY(0);
  opacity: 1;
}

.hidden {
  transform: translateY(100vh);
  opacity: 0;
}
