.display-container {
  width: 18rem;
  border-right: 2px solid lightslategrey;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding-left: 0.5rem;
  padding-right: 0.5rem;

  h2 {
    width: 95%;
    word-wrap: break-word;
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0;
  }

  h5 {
    width: 100%;
    height: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
    font-size: 1.2rem;
    font-weight: 500;
    color: lightslategrey;
  }
}
